/* 他のCSSの存在により詳細度が複雑 */
/* 計算したくないので!importantがむちゃくちゃ多いです。 */

/* 全体 */

@media screen and (min-width: 1290px){
    .column {
        width: 25.58% !important;
    }
    .drawer {
        width: 23.26% !important;
    }
}

.ui,
.drawer__inner,
.column .scrollable:not(.optionally-scrollable) {
    background-color: #FFE !important;
}

/* マケドニア */
.optionally-scrollable {
    background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/e/eai04191/20150422/20150422034712.png) !important;
    background-size: cover !important;
    background-position: center !important;
}
.optionally-scrollable .getting-started p{
    background: #FFE;
    opacity: 0.9;
    color: #822;
}

/* ヘッダー部分 */

.drawer__header,
.search-results__header,
.column-header,
.column-icon,
.column-back-button,
.account__action-bar,
.account__action-bar__tab,
.tabs-bar,
.tabs-bar__link {
    background-color: #F51 !important;
    border-style: hidden !important;
    color: #FFF !important;
}

.drawer__header i,
.account__action-bar .dropdown__trigger i,
.account__action-bar__tab span span,
.account__action-bar__tab strong span,
.account__action-bar__tab strong abbr {
    color: #FFF !important;
}

.drawer__tab:hover,
.column-icon:hover,
.column-back-button:hover,
.account__action-bar > *:first-child:hover,
.account__action-bar__tab:hover,
.tabs-bar__link:hover {
    background-color: #F73 !important;
}

/* drawer（投稿欄）部分 */

/*.column a.column-link,*/
.navigation-bar {
    background-color: #EDC;
    color: #822;
    border-bottom: #FFE 5px solid !important;
}

.search input,
.search input:hover,
.search__input,
.search__input:focus,
.drawer__inner .autosuggest-textarea {
    background-color: #FFF !important;
    border: 1px grey solid;
    color: #822 !important;
}

:placeholder-shown::-webkit-input-placeholder,
.drawer__inner span {
    color: #822;
}

.compose-form__modifiers {
    height: 0;
}

.search-results__header span {
    background-color: #F51 !important;
    border-style: none !important;
    color: #FFF !important;
}

.search-results__hashtag {
    color: #822 !important;
    font-weight: bold;
}

/* 送信ボタンの文字を書き換え */
button.button{
    font-size: 0px !important;
}
button.button::before{
    content: "返信する";
    font-size: medium;
}

/* 絵文字を変更 */
.emoji-button img{
    visibility: hidden;
}
.emoji-button{
    background-image: url(/emoji/1f60f.svg);
    background-size: cover !important;
    background-position: center !important;
    transform: rotate(335deg);
}

/* カラム部分 */

.scrollable:not(.optionally-scrollable) > *,
.search-results__section > .account {
    background-color: #EDC !important;
}

.scrollable > * > .status,
[style="cursor: default;"],
.notification,
.search-results__section > .account {
    border-bottom: #FFE 10px solid !important;
}

.status.muted,
[style="cursor: default;"] > .status,
.detailed-status__action-bar,
.notification > .account {
    border-style: none !important;
}

.status__prepend span,
.status__display-name strong,
.notification__message span {
    color: #792 !important;
}

.status__content p,
.navigation-bar span,
.missing-indicator {
    color: #822 !important;
}

.display-name strong {
    color: #173 !important;
}
.display-name span,
.navigation-bar strong {
    color: #F51 !important;
}

.status__content a,
.getting-started a {
    color: #55F !important;
}

.status__prepend i{
    color: #2b90d9;
}

.status__content__spoiler-link {
    background-color: #F51 !important;
    color: #FFF !important;
}

.empty-column-indicator {
    background-color: #FFE !important;
    color: #822 !important;
}

/* スクロールバー */
.scrollable::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track:hover {
    background: #FFFFEE;
}
.scrollable::-webkit-scrollbar-thumb{
    background-color: #EA8 !important;
}
.scrollable::-webkit-scrollbar-thumb:hover{
    background-color: #FCA !important;
}
